In [1]:
import pandas as pd 

reviews = pd.read_csv('../../data/winemag-data-130k-v2.csv', index_col=0)

In [4]:
#grouping 

#points열을 그룹화하고 각 값의 개수 반환
reviews.groupby('points')['points'].count()

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [6]:
reviews.groupby('points')['price'].min()
#points별로 price의 가장 작은 가격 반환

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

In [8]:
reviews['title'].iloc[0]

'Nicosia 2013 Vulkà Bianco  (Etna)'

In [7]:
reviews.groupby('winery').apply(lambda df : df['title'].iloc[0])
#winery별로 나오는 title의 첫번째 값을 적용

C:\Users\Master\AppData\Local\Temp\ipykernel_17308\883638156.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  reviews.groupby('winery').apply(lambda df : df['title'].iloc[0])

winery
1+1=3                                     1+1=3 NV Rosé Sparkling (Cava)
10 Knots                            10 Knots 2010 Viognier (Paso Robles)
100 Percent Wine              100 Percent Wine 2015 Moscato (California)
1000 Stories           1000 Stories 2013 Bourbon Barrel Aged Zinfande...
1070 Green                  1070 Green 2011 Sauvignon Blanc (Rutherford)
                                             ...
Órale                       Órale 2011 Cabronita Red (Santa Ynez Valley)
Öko                    Öko 2013 Made With Organically Grown Grapes Ma...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                                    Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [9]:
reviews.groupby(['country','province']).apply(lambda df: df.loc[df['points'].idxmin()])
#country와 province별로 나눴을때 points의 값이 큰 인덱스에 있는 데이터를 불러오는것

C:\Users\Master\AppData\Local\Temp\ipykernel_17308\1879035924.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  reviews.groupby(['country','province']).apply(lambda df: df.loc[df['points'].idxmin()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
Armenia   Armenia             Armenia
Australia Australia Other   Australia
          New South Wales   Australia
...                               ...
Uruguay   Juanico             Uruguay
          Montevideo          Uruguay
          Progreso            Uruguay
          San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  Ashy, green and funky smelling, then sweet, ch...
          Other             Yellowish in color, a true indicator that this...
Armenia   Armenia           Medium straw in the glass, this wine has a nos...
Australia Australia Other   Odd notes of Pez candy and confectioner's suga...
          New South Wales   Light to medium in body and rather tart, with ...
...                                                                       ...
Uruguay   Juanico           Clumsy and a bit chemical smelling, with a sti...
          Montevideo        Heavily charred aromas are like a smoldering c...
          Progreso          Rusty in color and overdone on the nose, this ...
          San Jose          Forceful, edgy aromas of cherry and drugstore ...
          Uruguay           Aromas of sawmill and burnt wood are dominant....

                                           designation  points  price  \
country   province
Argentina Mendoza Province                         NaN      80   17.0
          Other                                    NaN      80   13.0
Armenia   Armenia                       Estate Bottled      87   14.0
Australia Australia Other                          NaN      80   12.0
          New South Wales                  Wine Lovers      82   15.0
...                                                ...     ...    ...
Uruguay   Juanico                                  NaN      80   10.0
          Montevideo               Viña Salort Reserva      83   18.0
          Progreso          Río de los Pájaros Reserve      82   15.0
          San Jose                       Parcela Vieja      82   20.0
          Uruguay                             Traversa      81   12.0

                                    province                 region_1  \
country   province
Argentina Mendoza Province  Mendoza Province                  Mendoza
          Other                        Other                    Salta
Armenia   Armenia                    Armenia                      NaN
Australia Australia Other    Australia Other  South Eastern Australia
          New South Wales    New South Wales                   Orange
...                                      ...                      ...
Uruguay   Juanico                    Juanico                      NaN
          Montevideo              Montevideo                      NaN
          Progreso                  Progreso                      NaN
          San Jose                  San Jose                      NaN
          Uruguay                    Uruguay                      NaN

                           region_2        taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province      NaN  Michael Schachner           @wineschach
          Other                 NaN  Michael Schachner           @wineschach
Armenia   Armenia               NaN      Mike DeSimone        @worldwineguys
Australia Australia Other       NaN                NaN                   NaN
          New South Wales       NaN     Joe Czerwinski                @JoeCz
...                             ...                ...                   ...
Uruguay   Juanico               NaN  Michael Schachner           @wineschach
          Montevideo            NaN  Michael Schachner           @wineschach
          Progreso              NaN  Michael Schachner           @wineschach
          San Jose              NaN  Michael Schachner           @wineschach
          Uruguay               NaN  Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province     Bodega Carmine Granata 2009 Sémillon (Mendoza)
          Other                             Villa Viña 2006 Torrontés (Salta)
Armenia   Armenia              Van Ardi 2015 Estate Bottled Kangoun (Armenia)
Australia Australia Other   Woomera 2006 Chardonnay (South Eastern Australia)
          New South Wales        Tamburlaine 2008 Wine Lovers Malbec (Orange)
...                                                                       ...
Uruguay   Juanico                        Pueblo del Sol 2009 Tannat (Juanico)
          Montevideo        Familia Traversa 2015 Viña Salort Reserva Tann...
          Progreso          Pisano 2014 Río de los Pájaros Reserve Pinot N...
          San Jose          Castillo Viejo 2007 Parcela Vieja Cabernet Fra...
          Uruguay           Familia Traversa 2014 Traversa Chardonnay (Uru...

                                   variety                  winery
country   province
Argentina Mendoza Province        Sémillon  Bodega Carmine Granata
          Other                  Torrontés              Villa Viña
Armenia   Armenia                  Kangoun                Van Ardi
Australia Australia Other       Chardonnay                 Woomera
          New South Wales           Malbec             Tamburlaine
...                                    ...                     ...
Uruguay   Juanico                   Tannat          Pueblo del Sol
          Montevideo                Tannat        Familia Traversa
          Progreso              Pinot Noir                  Pisano
          San Jose          Cabernet Franc          Castillo Viejo
          Uruguay               Chardonnay        Familia Traversa

[425 rows x 13 columns]

In [10]:
reviews.groupby(['country'])['price'].agg([len,min,max])
#각 나라별 가격의 길이, 최소값, 최대값 나타내기 
#aggregate >집계연산

C:\Users\Master\AppData\Local\Temp\ipykernel_17308\3754633259.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  reviews.groupby(['country'])['price'].agg([len,min,max])
C:\Users\Master\AppData\Local\Temp\ipykernel_17308\3754633259.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  reviews.groupby(['country'])['price'].agg([len,min,max])

                          len   min     max
country
Argentina                3800   4.0   230.0
Armenia                     2  14.0    15.0
Australia                2329   5.0   850.0
Austria                  3345   7.0  1100.0
Bosnia and Herzegovina      2  12.0    13.0
Brazil                     52  10.0    60.0
Bulgaria                  141   8.0   100.0
Canada                    257  12.0   120.0
Chile                    4472   5.0   400.0
China                       1  18.0    18.0
Croatia                    73  12.0    65.0
Cyprus                     11  11.0    21.0
Czech Republic             12  15.0    45.0
Egypt                       1   NaN     NaN
England                    74  25.0    95.0
France                  22093   5.0  3300.0
Georgia                    86   9.0    40.0
Germany                  2165   5.0   775.0
Greece                    466   8.0    79.0
Hungary                   146  10.0   764.0
India                       9  10.0    20.0
Israel                    505   8.0   150.0
Italy                   19540   5.0   900.0
Lebanon                    35  13.0    75.0
Luxembourg                  6  16.0    30.0
Macedonia                  12  15.0    20.0
Mexico                     70   8.0   108.0
Moldova                    59   8.0    42.0
Morocco                    28  14.0    40.0
New Zealand              1419   7.0   130.0
Peru                       16  10.0    68.0
Portugal                 5691   5.0  1000.0
Romania                   120   4.0   320.0
Serbia                     12  15.0    42.0
Slovakia                    1  16.0    16.0
Slovenia                   87   7.0    90.0
South Africa             1401   5.0   330.0
Spain                    6645   4.0   770.0
Switzerland                 7  21.0   160.0
Turkey                     90  14.0   120.0
US                      54504   4.0  2013.0
Ukraine                    14   6.0    13.0
Uruguay                   109  10.0   130.0

In [11]:
#그룹화를 하면 인덱스가 다중으로 들어갈 수 있다. 
countries_reviewed = reviews.groupby(['country', 'province'])['description'].agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
Armenia   Armenia              2
Australia Australia Other    245
          New South Wales     85
...                          ...
Uruguay   Juanico             12
          Montevideo          11
          Progreso            11
          San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [14]:
mi = countries_reviewed.index
type(mi)

#다중인덱스

pandas.core.indexes.multi.MultiIndex

In [15]:
countries_reviewed.reset_index()
#다중인덱스를 열로 보내기

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

In [16]:
#sorting 정렬 

countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')
#len기준으로 오름차순 정렬

          country               province    len
179        Greece  Muscat of Kefallonian      1
192        Greece          Sterea Ellada      1
194        Greece                 Thraki      1
354  South Africa             Paardeberg      1
40         Brazil       Serra do Sudeste      1
..            ...                    ...    ...
409            US                 Oregon   5373
227         Italy                Tuscany   5897
118        France               Bordeaux   5941
415            US             Washington   8639
392            US             California  36247

[425 rows x 3 columns]

In [17]:
countries_reviewed.sort_values(by='len', ascending=False)
#ascending=False >> 내림차순

          country         province    len
392            US       California  36247
415            US       Washington   8639
118        France         Bordeaux   5941
227         Italy          Tuscany   5897
409            US           Oregon   5373
..            ...              ...    ...
101       Croatia              Krk      1
247   New Zealand        Gladstone      1
357  South Africa  Piekenierskloof      1
63          Chile          Coelemu      1
149        Greece           Beotia      1

[425 rows x 3 columns]

In [18]:
countries_reviewed.sort_index()
#index기준으로 오름차순

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

In [19]:
countries_reviewed.sort_values(by=['country','len'])
#2개이상의 열을 정렬할 수 있음

       country          province   len
1    Argentina             Other   536
0    Argentina  Mendoza Province  3264
2      Armenia           Armenia     2
6    Australia          Tasmania    42
4    Australia   New South Wales    85
..         ...               ...   ...
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
420    Uruguay           Juanico    12
424    Uruguay           Uruguay    24
419    Uruguay         Canelones    43

[425 rows x 3 columns]